* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:  sans-serif;
}

body {
    color: #333;
    min-height: 100vh;
    background-color:#c299ff;
    background-image:
    radial-gradient(at 74% 1%, hsla(179,64%,73%,1) 0px, transparent 50%),
    radial-gradient(at 38% 75%, hsla(195,71%,65%,1) 0px, transparent 50%),
    radial-gradient(at 89% 25%, hsla(14,99%,76%,1) 0px, transparent 50%),
    radial-gradient(at 90% 96%, hsla(45,98%,73%,1) 0px, transparent 50%),
    radial-gradient(at 70% 43%, hsla(294,77%,73%,1) 0px, transparent 50%),
    radial-gradient(at 25% 60%, hsla(52,85%,73%,1) 0px, transparent 50%),
    radial-gradient(at 94% 69%, hsla(67,75%,70%,1) 0px, transparent 50%);
}

.container {
    width: 70%;
    min-height: 80vh;
    padding: 1rem;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}